section {
    background-image: url(../images/landing.png);
    background-position: center center;

    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

@media (max-width: 480px) {
    section {
        background-position: top;
        background-size: 380px 505px;
    }
}